* {
    box-sizing: border-box;
}

:root {
    --black: #000000;
    --bg-black: #333333;
    --grey: #86878B;
    --accent: #F38281;
    --bg-accent: #F8EFEF;
    --mobile-padding: 16px;
    --gutter: 15px;
}

html {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 1.2;
}

html.light {
    --color-bg: var(--black);
    --color-text: #ffff;
}

body {
    background-color: var(--color-bg);
    color: var(--black);
}


ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

/*components*/

.container {
    max-width: calc(1170px + 32px);
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 calc(var(--gutter) * -1);
}

.col-4 {
    width: calc(100% / 3 - var(--gutter) * 2);
    padding: 10px;
    margin-bottom: 10px;
    margin-left: var(--gutter);
    margin-right: var(--gutter);
}

.col-6 {
    width: calc(100% / 12 * 6 - var(--gutter) * 2);
    padding: 10px;
    margin-bottom: 10px;
    margin-left: var(--gutter);
    margin-right: var(--gutter);
}

.col-5 {
    width: calc(100% / 12 * 5 - var(--gutter) * 2);
    padding: 10px;
    margin-bottom: 10px;
    margin-left: var(--gutter);
    margin-right: var(--gutter);

}

.col-7 {
    width: calc(100% / 12 * 7 - var(--gutter) * 2);
    padding: 10px;
    margin-bottom: 10px;
    margin-left: var(--gutter);
    margin-right: var(--gutter);

}

.section-head {
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
    align-content: center;
}

.section-head__title {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 36px;
    line-height: 1.2;
    text-transform: uppercase;
    color: var(--black);
    position: relative;
}

.section-head__title_light {
    color: #FFFFFF;
}

.section-head__title:after {
    content: "";
    display: block;
    width: 170px;
    height: 1px;
    margin: 60px auto;
    background-color: var(--accent);
}

.section-head__title_light:after {
    content: "";
    background-color: #FFFFFF;
}

.section-head__subtitle {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
    margin-top: 40px;
    margin-bottom: 40px;
}

.section-head__subtitle_light {
    color: #FFFFFF;
}

.prime-btn {
    display: flex;
    color: #FFFFFF;
    border: 2px solid #fff;
    justify-content: center;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 18px;
    line-height: 1.4;
    padding: 20px 0;
    text-decoration: none;
    transition: 1s;
}

.prime-btn:hover {
    background-color: var(--accent);
}

.contact__btn {
    max-width: 270px;
    height: 58px;
    margin: 50px auto;
    background-color: var(--accent);
    transition: 1s;
}

.contact__btn:hover {
    background-color: #AB4949;
    ;
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--accent);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--accent);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/*header*/

.header {
    min-height: 75px;
    top: 0;
    left: 0;
    right: 0;
    transition: 0.3s;
    background-color: var(--black);
}


.inner {
    min-height: 75px;
    height: 100%;
    padding-left: 120px;
    padding-right: 120px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo-wrap {
    display: inline-flex;
    ;
    min-height: 30px;
    height: 100%;
    padding-right: 570px;
}

.header__menu {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 0 -15px;
}

.menu__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__list-item {
    margin-right: 20px;
    margin-left: 20px;
    padding: 0 20px;
}

.menu__link {
    width: 120px;
    height: 75px;
    margin: 15px;
    padding: 10px;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2;
    color: #FFFFFF;
    margin: 0 auto;
    transition: 0.2s;
}

.menu__link:hover {
    background-color: var(--accent);
}

/*promo*/

.promo {
    height: 100vh;
    padding-bottom: 100px;
    background: url(../images/promo/bg.png), url(../images/promo/promo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.promo__row {
    padding-top: 208px;
    padding-bottom: 20px;
    margin-right: 20px;
    flex-wrap: nowrap;
}

.promo__info {
    margin-right: 30px;
}


.promo__logo {
    margin-bottom: 73px;
}

.promo__head {
    padding: 0;
    text-align: left;
    align-content: center;
}

.promo__title {
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    text-transform: uppercase;
}

.promo__title:after {
    content: "";
    display: block;
    width: 170px;
    height: 1px;
    margin: 60px 0;
    background-color: #FFFFFF;
}

.promo__subtitle {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.promo__btn {
    max-width: 270px;
    margin-top: 42px;
    margin-bottom: 165px;
}

.promo__form {
    max-width: 470px;
    width: 100%;
    min-height: 450px;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.form {
    background: #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.promo__form-title {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    padding: 30px 50px;
    text-align: center;
    text-transform: uppercase;
    color: var(--bg-blackblack);
}

.promo__form-title span {
    color: var(--accent);
}

.promo__form-field {
    max-width: 370px;
    width: 100%;
    min-height: 68px;
    border: 0;
    border-bottom: 1px solid #BDBDBD;
    margin: 0 50px;
}

.promo-form__field::placeholder {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    color: #BDBDBD;
}

.promo__form-btn {
    height: 60px;
    width: 100%;
    border: none;
    background-color: var(--accent);
    margin: 75px 0px 0px 0px;
    text-align: center;
    color: #fff;
    border-radius: 0 0 10px 10px;
    font-size: 15px;
    font-weight: 600;
    transition: 2s;
}

.promo__form-btn:hover {
    background-color: #AB4949;
}

/*social*/

.social {
    margin: 0 auto;
    background: var(--bg-accent);
    align-items: center;
    max-height: 140px;
    height: 100%;
}

.social-head {
    margin: 15px;
}

.social-head__title {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 18px;
}

.social-head__subtitle {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    color: var(--grey);
}

.social__items-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social__link {
    max-width: 50px;
    margin: 15px;
    transition: 0.2s;
}


.social__link:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

/*tabs*/

.tabs {
    padding-top: 100px;
    margin: 0 auto;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: white;
    display: flex;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.2s;
    background-color: white;
    flex: 0 1 33%;
    height: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tablinks {
    text-transform: uppercase;
    color: var(--bg-black);
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    text-decoration: none;
}

.tab button:hover {
    background-color: var(--accent);
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

.tab button.active {
    background-color: #F8EFEF;
}

.tabcontent {
    display: none;
    border-top: none;
    border: 1px solid #C6CBCD;
}

.tab__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 -15px;
}

.tabs__head {
    margin-top: 40px;
    margin-left: 100px;
}

.tabs__head-title {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 30px;
    line-height: 1.2;
    color: #000000;
    margin-bottom: 50px;
}

.tabs__head-subtitle {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    color: #000000;
    margin-bottom: 27px;
}

.tabs__btn {
    max-width: 270px;
    width: 100%;
    margin-top: 27px;
    margin-bottom: 54px;
    background-color: var(--accent);
    transition: 1s;
}

.tabs__btn:hover {
    background-color: #AB4949;
}

.tabs__img {
    height: 100%;
    margin: 0 15px;
}

/*about*/

.about {
    padding-top: 50px;
    padding-bottom: 58px;
    margin: 0 auto;
}

.about__row {
    align-items: center;
}

.about__item {
    align-items: center;
    text-align: center;
    justify-content: center;
}

.card-title {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    text-align: center;
    color: #000000;
    margin-bottom: 40px;
}

.card-subtitle {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.1;
    align-items: center;
    text-align: center;
    color: #000000;
}

.about__card-img img {
    max-width: 92px;
    height: 92px;
    flex-shrink: 0;
}

/*prices*/

.prices {
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 auto;
    background: #F5F5F5;
}

.prices__row {
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 80px;
}

.prices__card {
    align-items: center;
    text-align: center;
    justify-content: center;
}

.prices__card_active {
    position: relative;
    transform: translatey(-5%);
}


.prices__card-item-title {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    height: 60px;
    background: var(--bg-black);
    border: 2px solid #F5F5F5;
}

.prices__card-item-cost {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    color: #FFFFFF;
    background: var(--bg-black);
    height: 100px;
}

.prices__card-item-more {
    height: 50px;
    background: var(--bg-black);
    border: 2px solid #F5F5F5;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.1;
    color: rgba(255, 255, 255, 0.5);
}

.prices__card-item-option {
    height: 50px;
    background: #FFFFFF;
    border: 2px solid #F5F5F5;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
}

/*reviews*/

.reviews {
    padding-top: 50px;
    padding-bottom: 54px;
    margin: 0 auto;
}

.reviews__row {
    margin-top: 80px;
}

.review__item {
    padding: 0;
}

.review__item-descr {
    padding: 38px 20px;
    border-radius: 10px;
    color: var(--subtitleColor);
    position: relative;
    background: #E2E2E2;
    text-align: center;
}

.review__item-descr::after {
    content: "";
    position: absolute;
    background: #E2E2E2;
    left: 25%;
    bottom: -11px;
    width: 20px;
    height: 22px;
    z-index: -1;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.review__author {
    padding-top: 66px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 -15px;
}

.review__author-photo {
    max-width: 70px;
    width: 100%;
    height: 70px;
    margin: 15px;
}

.review__author-desc {
    max-width: 270px;
    width: 100%;
    margin: 15px;
}

.review__author-name {
    font-family: "Open Sans";
    font-style: 24px;
    font-weight: 700;
    padding-bottom: 25px;
}

/*Design*/

.design {
    padding-top: 50px;
    padding-bottom: 50px;
    max-height: 442px;
    height: 100%;
    margin: 0 auto;
    background: url(../images/design/bg.svg), url(../images/design/banner2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.design__btn {
    max-width: 370px;
    width: 100%;
    height: 58px;
    margin-top: 73px;
    margin: 0 auto;
}

/*contact-form*/

.contacts {
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 auto;
}

.contact-form__row {
    margin-top: 90px;
}

.form-item {
    flex: 0 50%;
    margin: 15px;
    max-width: 570px;
    max-height: 85px;
}

.contact__form-input {
    width: 570px;
    height: 85px;
}

.contact-form__field {
    width: 570px;
    height: 85px;
    border: 0;
    border-bottom: 1px solid #BDBDBD;
}

.contact-form__field::placeholder {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    color: #BDBDBD;
}

.textarea {
    resize: none;
    display: inline-block;
    overflow: auto;
    min-height: 255px;
}

.contacts__btn {
    max-width: 370px;
    width: 100%;
    margin: 0 auto;
    margin-top: 273px;
    background-color: var(--accent);
    transition: 1s;
}

.contacts__btn:hover {
    background-color: #AB4949;
}

/*footer*/

.footer {
    background: var(--black);
    margin: 0 auto;
    min-height: 164px;
}

.footer__content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.footer__social {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.footer__social {
    margin: 15px;
}

.footer__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__social-link {
    max-width: 50px;
    margin: 15px;
    transition: 0.2s;
}

.footer__social-link:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

.footer__copy {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

.footer__copy-txt {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.1;
    color: rgba(255, 255, 255, 0.5);
}